table{
    width: 800px;
    margin: auto;
    color: white;
}
tr{
    text-align: center;
}
td, th {
    border: green dashed 2px;
    border-collapse: collapse;
}

th {
    text-transform: uppercase;
}

caption{
    font-size: 30px;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-collapse: collapse;
}

td {
    line-height: 50px;
}
